.componentContainer {
  width: 100%;
  max-width: 1027px;
}

.sidebarContainer {
  display: none;
}

.withSidebar {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

/* xxl */
@media (min-width: 1920px) {
  .sidebarContainer {
    display: block;
    width: 248px;
  }
}

@media (max-width: 1919px) {
  .componentContainer {
    min-width: -webkit-fill-available;
  }
}
