.container {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.firstBanner {
    width: 100%;
    display: block;
    height: auto;
}

.firstBannerMobile {
    display: none;
    visibility: hidden;
}

.slideItem {
    width: auto;
    height: 163px;
    object-fit: cover;
    border-radius: 12px;
}

@media (max-width: 768px) {
    .firstBanner {
        display: none;
        visibility: hidden;
    }
    .firstBannerMobile {
        display: block;
        visibility: visible;
        width: 100%;
    }
}
